<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Holy Angels - Password Reset</title>
</head>
<body>
<p>
Hi $username,<br />

You requested that we send you a password reset token for you acount at Holy Angels Church. <br />
Click <a href="$passwordResetUrl">here</a> to reset your password. If you did not request this token <br />
please ignored this email.<br />
<br />
Thanks<br />
Web Administrator<br />
</p>
</body>
</html>
