@model HolyAngels.Web.Models.HomeModel
<h3>
    Our Mission</h3>
<p>
    Holy Angels Church, a multi-cultural, Catholic Christian Community , is committed
    to developing, renewing and sustaining our spirituality. Through the grace of Jesus
    Christ, we believe our mission is to proclaim the gospel message. By such proclamation,
    our focus is to strengthen family life as a traditional treasure, a present challenge
    and a future vision of hope. We will endeavor to provide a firm foundation for our
    youth to that they will value Catholicism expand their education and understand
    our extended faith community.
</p>
<p>
    As Christians, we know that the ultimate joy in this life is achieved by sharing
    our love with our neighbor. Therefore, Holy Angels will share the diverse gifts,
    our differences and acknowledge our strengths and provide a safe and secure faith
    community.
</p>
