@model HomeModel
<h2>@Model.PageTitle</h2>
<p>
    <h4>
        Quote of the Day</h4>
    <p>
        @Model.Quote.Description
        <br />
    </p>
    <p>
        @Model.Quote.Source
    </p>
</p>
<p>
    <h4>
        Site Dedication</h4>
    <p>
        This Website is dedicated to the memory of our ancestors: Those who suffered, died,
        lost their mothers, fathers, children, relatives and loved ones as a result of the
        African slave trade, lynchings, legal injustices and racial discrimination.
    </p>
    <p>
        May God grant them eternal salvation. To their living descendants, may God grant
        us spiritual peace.
    </p>
</p>
