@model PageModel
 <h3>African Christianity-A Brief History</h3>    
<p>
    Ethiopia was converted to Christianity through the efforts of St. Frumentius (c.380),
    a Syrian and former slave in the royal household. Under his influence the royal
    family was converted. Requesting from St. Athanasisus, patriarch of Alexandria,
    a bishop for the growing number of Catholics in Ethiopia, Frumentius, who had been
    freed by the young king, Ezana, and was on his way back to Syria, was persuaded
    by Athanasisu to become bishop of Ethiopia. Thanks to St. Frumentius and the young
    king, Ezana Ethiopia was rapidly Christianized. It received its liturgy from Egypt
    and today it follows the Coptic Rite and its own district usages. In the Ethiopian
    liturgy, the clergy at times dance and the drum is used. There is a tremendous devotion
    to he Blessed Virgin and a very strong monastic tradition. It is true to say that
    Ethiopia is one of the oldest Christian countries in the world. Ethiopia was a Catholic
    country before Ireland or Poland or any northern European country had received the
    faith. After the Council of Chalcedon is 451 when the heresy of Monophysitism was
    condemned (the Monophysitism taught that Christ had on one nature, the divine),
    the Coptic Church of Egypt withdrew form unity with Rome and the other Churches
    in the Roman empire. Ethiopia, always under the influence of the Coptic Church,
    withdrew also. As a result, The Ethiopian Church is now is schism from the Catholic
    Church. Despite many attempts the heal the division, the schism continues. Most
    scholars are of the opinion that with a little effort the questions regarding one
    or two natures of Christ could be easily resolved. There were a large number of
    Ethiopians and Eritians to follow the Ethiopian liturgy and are united with Rome.
    Thus, among Catholics of the Eastern Rites, the Black Church of Ethiopia holds an
    important place. There is an Ethiopian college in the Vatican for training Ethiopian
    students for the priesthood.
</p>
<br />
<p>
    In the seventh (7th) century, Islam swept through Egypt and North Africa. Although
    some Ethiopians are Moslem, the country remained a bastion of Christianity down
    through the centuries. Ethiopia, a Black nation is one the few Christian nations
    to triumph over the attacks of the Moslem invaders...
</p>
<br />
<p>
    ...Nubia was converted to Christianity in the sixth (6th) century. The great Byzantine
    emporer, Justinian, sent missionaries to the area. His wife, Theodora, who secretly
    supported the Monophysite heresy, sent Monophysite missionaries. Thus both Catholicism
    and Monophysitism were introduced in the sixth (6th) century. It is only in very
    recent years that excavations have been made in the northern part of Sudan which
    have enabled us to discover the remains of brilliant Black Civilization. Christian
    Nubia was a civilization of churches, frescoes, manuscripts , etc. For a long time
    historians believed that Christianity had not survived long after the Arab attacks
    in the seventh (7th) century. Recent excavations revealed the body of a Nubian bishop
    who lived at the end of the fourth (4th) Parts of Nubia were still Christian about
    a century before Columbus discovered America.
</p>
<br />
<p>
    The area known a North Africa, where the Roman African provinces of Mauritania,
    Cyrenaica, Numidia were located, had a brown-skinned population known as the Berbers.
    The Romans colonized parts of the area, establishing large estates. Christianity
    spread rapidly in this area. The people possessed slaves. Some of the slaves were
    from the Sub-Saharian part of Africa. In large cities like Carthage, there were
    Blacks to formed part of the population. In the sixth (6th) century, we have a letter
    written by St. Fulgentius of Ruspe entitled "Concerning the Salvation of an Ethiopian
    on the point of Dying." The letter was in answer to one sent by Ferrandus, the deacon
    in charge of the Church at Carthage (today in Tunisia). The letter was about a Black
    adolescent who was a slave in the household of a wealthy Christian. The young man
    had been enrolled as a catechumen for baptism at the main church at Easter.
</p>
<br />
<p>
    In working on a paper for the Black Catholic Convocation which was held in the year
    2002, your editor encountered the scholarly research by African-American Benedictine
    historian, Father Cyprian Davis. We thought that we would pass it on as, contrary
    to what we can do to popular thought, a reminder of how deep our Black Catholic
    roots are. "Now there was an Ethiopian eunuch, a court official of the Candace,
    this is the queen of the Ethiopians, in charge of her entire treasury, who had come
    to Jerusalem to worships." Acts 8:27
</p>
<br />
