@model PageModel
           
<h3>Contact</h3>           
<div style="float:left">
<p>
Holy Angels Church<br />
An African American Roman Catholic Community<br />
615 E. Oakwood Blvd. Chicago, IL 60653-2309<br />
United States<br />
<br />
773-624-5375 (voice)<br />
773-624-8393  (fax)<br />
<br />
</div>
<div style="float:right">
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" 
    marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=615+E+Oakwood+Blvd,+Chicago,+IL&amp;aq=2&amp;oq=615+E+oakwood+b&amp;sll=39.739318,-89.266507&amp;sspn=8.022444,17.468262&amp;ie=UTF8&amp;hq=&amp;hnear=615+E+Oakwood+Blvd,+Chicago,+Cook,+Illinois+60653&amp;t=m&amp;z=14&amp;ll=41.822634,-87.612425&amp;output=embed">
</iframe>
<br />
<small>
<a target="_blank" href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=615+E+Oakwood+Blvd,+Chicago,+IL&amp;aq=2&amp;oq=615+E+oakwood+b&amp;sll=39.739318,-89.266507&amp;sspn=8.022444,17.468262&amp;ie=UTF8&amp;hq=&amp;hnear=615+E+Oakwood+Blvd,+Chicago,+Cook,+Illinois+60653&amp;t=m&amp;z=14&amp;ll=41.822634,-87.612425" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
