@model PageModel

<script language="javascript" type="text/javascript">
	document.addEventListener('DOMContentLoaded', () => {
        HA.initEventCalendar();
    });
</script>

<div id="calendar"></div>
