@model HomeModel
<h3>
    Holy Angels Church: 130 Years of Pride and Responsibility</h3>
<p>
    <p>
        The 130 year history of HOLY ANGELS is a story of PULLING TOGETHER IN TIMES OF ADVERSITY!
        It is a story of people (both black and white) who have taken PRIDE in themselves
        and their Church, and had the RESPONSIBILITY to confront hard challenges. There
        is not enough time to mention all the challenges we have faced, but suffice it simply
        to say that Holy Angels is a church with PRIDE ... and a church with a HISTORY!
    </p>
    <p>
        HOLY ANGELS CHURCH began in 1880 with 20 Irish people gathering for Mass in an upstairs
        room over a furniture store on 37th Street & Cottage Grove on Chicago's Southside.
        As their numbers grew, the people of the area were strongly anti-Catholic and resisted
        every effort to sell land or property for a formal church building. Thus the new
        church group resorted to trickery - they rented a non-used church in the area, and
        secretly bought up little parcels of land. They then announced the formation of
        Holy Angels Church on the corner of Vincennes & Oakwood.
    </p>
    <p>
        A major challenge hit Holy Angels in the 1930-50s. Prejudice is a hard and unfortunate
        reality, even in churches and religious institutions. So there should be no surprise
        at the fact that prejudice hit this church hard as African-Americans moved into
        Chicago from the south during the first part of the 20th century. Thousands of whites
        belonging to the church and school (as well as many living in the area) left to
        move elsewhere. Church attendance plummeted, and Holy Angels School enrollment dropped
        to a mere 90 children. It was also about that time that the Ida B. Wells Homes were
        built just north of the church itself.
    </p>
    <p>
        But God blessed Holy Angels again with proud and strong Christian people. There
        were new faith-filled black Catholics in the community willing to take responsibility.
        Fr. James Duffin was a new pastor willing to "move with the Spirit of the moment".
        Fr. Duffin wanted both Catholic education and evangelization to be dominating factors
        in a resurgent new black Catholic community at Holy Angels. So, despite the low
        enrollment, he built 4 new classrooms, and brought in a Franciscan nun who would
        soon become legendary at Holy Angels - Sr. Mary Hortensia. With this new twofold
        emphasis on Catholic education and Christian evangelization in the community, Holy
        Angels School and Church again began to surge upward in membership. School enrollment
        rose to 750 children. Thousands of African-Americans were evangelized, baptized,
        and formally brought into membership at Holy Angels Church in the mid-20th century.
    </p>
    <p>
        In June of 1969, another legendary chapter in Holy Angels Church began. Fr. GEORGE
        CLEMENTS became the first black pastor at Holy Angels Church. Before long, he became
        a public figure renowned for standing for the rights of Chicago's black community.
        He was controversial in his civil rights stands, and legendary in his support of
        adoption of young black children - even to the adopting of 3 children himself. It
        was Fr. Clements who dusted off an old Holy Angels slogan to use once again in facing
        the challenges of a modern world: "We've Got It All Together By Ourselves". Under
        FR. PAUL SMITH as principal, Holy Angels School continued to grow in renown, success
        and achievement for the thousands of black children who attended there yearly. It's
        present enrollment is in excess of 1270 children, making it the LARGEST BLACK CATHOLIC
        GRADE SCHOOL IN AMERICA.
    </p>
    <p>
        Fr. Clements brought a tremendous sense of public recognition, social responsibility,
        pride and responsibility to Holy Angels Church. But in June 1986, tragedy struck
        Holy Angels Church - a devastating fire burned the great Gothic church to the ground.
        For nearly 5 years, tireless efforts and campaigns were begun to rebuild the church.
        Contributions were made by great and small folk alike, and in June 1991 a beautiful
        new church was dedicated on the very site of the old worship site.
    </p>
    <p>
        In 1992, another well-known and beloved black Chicago priest became pastor, Fr.
        John Calicott. Fr. John's charismatic and empowering leadership style has brought
        even more to Holy Angels - exciting, Spirit-filled Gospels Masses, community outreach
        programs, structured committees and parish leadership groups.
    </p>
    <p>
        Fr. Robert Miller came as co-pastor in the summer of 1996. Despite challenges from
        tragic accidents (including the murder of Fr. Paul Smith in November 1996), accusations,
        and the challenges of inner-city ministry, Holy Angels Church has continued to move
        forward into the 21st century in a vibrant, dynamic way! In January 2006, Fr. Miller
        began a six-month sabbatical at Notre Dame University prior to taking an assignment
        as Pastor at Saint Dorothy's in the Archdiocese of Chicago. In April, 2006, Father
        John Bola Atoyebi was appointed pastor.
    </p>
    <p>
        HOLY ANGELS CHURCH has been a blessing for thousands of people thru the years. Thousands
        have come here to find healing ... a haven of rest amidst struggle ... a beacon
        of hope in urban despair ... a source of truth amidst culture's lies. It has become
        one of the LEADING BLACK CATHOLIC CHURCHES IN AMERICA. Anywhere you go, and any
        Catholic you talk to will likely know well the name "Holy Angels Church of Chicago,
        Illinois"!!
    </p>
</p>
