
@model PageModel<IReadOnlyList<MinistryModel>>

<h3>@Model.SubTitle</h3>
@{
    foreach(var data in @Model.Data)
    {
        <div>
        <img src="~/css/images/Flaming_Cross.gif" alt="Flaming Cross" />
        <span>@data.Name</span>
        <p>@data.Description</p>
        </div>
    }
}